.login h1{
    font-size: 36px;
   margin-left: 110px;
   margin-right: 1px;
  
}
.nav a{
  text-decoration: none;
}
.nav {
    background-color:#000000;
    overflow: hidden;
    padding: 300px;
    color:rgb(9, 9, 9);
    background-image: url("images/3.jpg");
    font-size: 20px;
    text-align: center;
  }

  .nav h1{
    font-size: 36px;
  }
  .form-group{
    list-style: none;
    float: left;
 
  }
  .form-group h1{
    font-size: 48px;
  }
    .form-group li a {
    display: block;
    width: 250px;
    height: 65px;
    background-color:#e4d9b0;
    border:3px solid #FFFFFF;
    border-radius:80px;
    text-decoration: none;
    text-align: 75px;
    line-height: 60px;
    border-radius: 50px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 36px;
   margin-left: 110px;
   margin-right: 1px;
  }
  .form-group a:hover {
    background-color: rgb(182, 162, 133);
    color: #ffffff
  }
  